
body{
    background-image: url("bg.jpg");
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.taskbar{
    position: absolute;
    bottom: 1.5vh;
    width: 75%;
    height: 3rem;
    display: flex;
    gap: 0.5%;
    /* justify-content: flex-start;
    align-items: center; */
}

.time{
    width: 12%;
    background-color: rgb(255, 255, 255);
    opacity: 75%;
    border-radius: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main{
    width: 74%;
    background-color: rgb(255, 255, 255);
    opacity: 75%;
    border-radius: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deviceinfo{
    width: 13%;
    background-color: rgb(255, 255, 255);
    opacity: 75%;
    border-radius: 0.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

